<div class="background-image" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1577382144834-8a80d92b925c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80')">

<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Save any kind of movies</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
  </div>
  <div class="container py-5">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h3 class="mb-0 " style="color:white" >My Lists</h3>
      <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>
    </div>
    <div class="row">
      <% @lists.each do |list| %>
        <div class="co-12 col-sm-6 col-md-4 mb-3">
          <%= link_to list_path(list), class:"text-decoration-none" do %>
            <div class="card-category border-bottom" style="color:white" >
              <%= list.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
